body {
  background-color: #fdfdfd;
  font-size: 12px;
  font-family: Gilroy-regular;
  display: flex;
  box-sizing: border-box;
  overflow: hidden;
  margin: 0, 0;
  padding: 0, 0;
}
.header {
  flex: 1 54px;
  width: 54px;
  max-width: 54px;
  height: 100%;
  background-color: rgb(255, 255, 255);
  position: fixed;
  border-right: 1px solid rgb(255, 255, 255);
}
.main {
  flex: 1 calc(100% - 55px);
  height: 100%;
  display: flex;
}
.catalog__filter {
  /* flex: 1 220px; */
  min-width: 220px;
  max-width: 220px;

  min-height: 100%;
  margin-left: 55px;
  background-color: #ecedf5;
}
.catalog__wrapper {
  flex: 1;
  width: 100%;
  height: 100%;
  background-color: #f8f9fa;
  display: flex;
  flex-direction: column;
}
.catalog__header {
  width: 100%;
  height: 120px;
  display: flex;
  flex-direction: column;
}
.header__functions {
  width: 100%;
  height: 75px;
  display: flex;
  align-items: center;
}
.header__sort {
  width: 100%;
  height: 50px;
  background-color: #ffffff;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 1 1px 12px rgb(201, 201, 201);
  display: flex;
}
.functions__select-wrapper {
  flex: 1 40%;
  max-width: 40%;
  height: 100%;
  display: flex;
  justify-content: flex-start;
  align-items: center;
}
.select-btn__wrapper {
  margin-left: 25px;
  display: flex;
  align-items: center;
}
.functions__btn {
  height: 32px;
  outline: none;
  border: none;
  border-radius: 6px;
  font-size: 11px;
  font-weight: 600;
  color: #ffffff;
  text-transform: uppercase;
  background-color: #61d5df;
  cursor: pointer;
  padding: 0 10px 0 10px;
  margin: 0 20px;
}
.functions__btn:hover {
  background-color: #53aeb6;
}
.functions__btn:active {
  background-color: #48949b;
}
.filter__btn {
  display: none;
}
.select__selected-items {
  height: 28px;
  min-width: 200px;
  border-left: 1px solid rgb(196, 196, 196);
  display: flex;
  align-items: center;
}
.selected-items__amount {
  align-self: center;
  font-weight: 500;
  font-size: 12px;
  margin-left: 15px;
  font-family: Gilroy-medium;
  font-weight: 900;
}
.selected-items__after {
  display: none;
}

.clear__btn {
  display: none;
}
.select__btn--changed {
  height: 30px;
  width: 22px;
  display: none;
}
.select__btn--image {
  width: 20px;
  height: 20px;
  margin: auto, auto;
  margin-top: 5px;
  background-color: #ffffff;
  border-radius: 50%;
}
.functions__search-wrapper {
  flex: 1 60%;
  max-width: 60%;
  height: 100%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
}
.input-btn__wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-right: 100px;
}
.functions__search--input {
  height: 32px;
  width: 320px;
  border: none;
  outline: none;
  font-size: 14px;
  padding-left: 10px;
  font-family: Gilroy-medium;
  font-weight: 800;
  border-radius: 5px 0 0 5px;
}
.functions__search--button {
  height: 34px;
  width: 50px;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  border-radius: 0 5px 5px 0;
}
.search__btn--image {
  align-self: center;
  width: 20px;
  cursor: pointer;
}
.adding__btn {
  /* padding: 0 8px 0 8px; */
  height: 40px;
  min-width: 140px;
}
.adding__btn--changed {
  display: none;
}
.functions__burger--menu {
  display: none;
  align-self: center;
  margin-right: 15px;
  cursor: pointer;
}
.functions__help {
  border-radius: 100%;
  padding: 1px 6px;
  border: 2px solid black;
  margin-left: -5px;
  font-size: 16px;
  cursor: pointer;
}
.functions__help:hover {
  box-shadow: 0 0 5px 2px rgb(192, 192, 192);
}
.header__sort {
  background-color: #ffffff;
  width: 100%;
  height: 50px;
  border-bottom: 1px solid rgb(233, 233, 233);
  box-shadow: 0 1 1px 12px rgb(201, 201, 201);
  display: flex;
}
.sort__wrapper {
  justify-self: flex-start;
  align-self: center;
  margin-left: 45px;
  display: flex;
  align-items: center;
}
.sort__icon {
  margin-right: 8px;
}
.sort__icon--img {
  width: 22px;
}
.sort__title {
  color: grey;
  margin-right: 8px;
  font-size: 13px;
}
.sort__options {
  border: none;
  outline: none;
  font-family: Gilroy-regular;
  color: grey;
  cursor: pointer;
  font-size: 13px;
}
/* catalog product */
.catalog__content {
  width: 100%;
  background-color: #f8f9fa;
}
.catalog__content-wrapper {
  width: auto;
  height: 100%;
  margin-top: 20px;
  margin-left: 20px;
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: flex-start;
}
.catalog__product {
  box-sizing: border-box;
  flex: 1 290px;
  min-width: 270px;
  /* max-width: 400px; */
  height: 290px;
  margin: 10px 10px 10px 10px;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgb(221, 221, 221);
  justify-content: space-between;
  border-radius: 8px;
  box-sizing: border-box;
  cursor: pointer;
  position: relative;
}
.catalog__product:hover {
  border: 2px solid rgb(59, 187, 226);
}

.product__checkbox--button {
  position: absolute;
  margin-left: -45%;
  margin-top: 20px;
}

.product__image {
  width: 100%;
  height: 190px;
  margin: -45px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.product__image--src {
  display: block;
  padding-top: 15px;
  width: 120px;
  height: 130px;
}
.product__title {
  width: 100%;
  display: flex;
}
.product__title--name {
  box-sizing: border-box;
  display: block;
  margin: auto;
  text-align: justify;
  padding-top: 20px;
  padding-left: 10px;
  padding-right: 10px;
  font-family: Gilroy-bold;
  font-size: 15px;
}
.product__price {
  box-sizing: border-box;
  display: flex;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  border-top: 2px solid rgb(214, 214, 214);
  height: 35px;
}
.product__price > span {
  margin: 0 3px;
  font-family: Gilroy-medium;
  font-size: 14px;
}

@media screen and (min-width: 1540px) {
  .functions__search--input {
    width: 420px;
  }
}
@media screen and (max-width: 1356px) {
  .input-btn__wrapper {
    justify-content: flex-end;
    margin-right: 20px;
  }
  .functions__search--input {
    width: 220px;
  }
  .selected-items__before {
    display: none;
  }
  .selected-items__after {
    display: block;
  }
  .select__selected-items {
    min-width: 0;
  }
}
@media screen and (max-width: 1085px) {
  .header {
    display: none;
  }
  .catalog__filter {
    margin-left: 0;
  }

  .select__btn {
    display: none;
  }
  .select__selected-items {
    border: none;
  }
  .select__btn--changed {
    display: block;
  }
  .functions__search--input {
    width: 150px;
  }
  .adding__btn {
    min-width: 100px;
  }
  .functions__burger--menu {
    display: block;
    margin-right: 20px;
  }
  .functions__help {
    display: none;
  }
}
@media screen and (max-width: 938px) {
  .catalog__filter {
    display: none;
  }
  .functions__search--input {
    width: 170px;
  }
  .filter__btn {
    display: block;
    margin: 0 5px;
  }
}
@media screen and (max-width: 722px) {
  .functions__search--input {
    display: none;
  }
  .functions__select-wrapper {
    flex: 1 50%;
    min-width: 30%;
    justify-content: center;
  }
}
@media screen and (max-width: 556px) {
  .adding__btn {
    display: none;
  }
  .adding__btn--changed {
    display: block;
  }
  .selected-items__after {
    display: none;
  }
  .functions__search--button {
    width: 34px;
    border-radius: 0 0 0 0;
  }
}

@font-face {
  font-family: Gilroy-medium;
  src: url("./Gilroy-med_font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy-bold;
  src: url("./Gilroy-med_font/Gilroy-Bold.ttf");
}
@font-face {
  font-family: Gilroy-regular;
  src: url("./Gilroy-med_font/Gilroy-Medium.ttf");
}
@font-face {
  font-family: Gilroy-semibold;
  src: url("./Gilroy-med_font/Gilroy-SemiBold.ttf");
}
